@model string

<div class="breadcumb-wrapper breadcumb-layout1 pt-175 pb-125" data-bg-src="/assets/img/bg/bg-27.jpg" data-overlay="dark" data-opacity="6">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title sec-title text-white">@Model</h1>
            <ul class="breadcumb-menu text-white pt-1">
                <li><a href="index.html"><i class="far fa-home-lg"></i>Home</a></li>
                <li class="active">@Model</li>
            </ul>
        </div>
    </div>
</div> 