
@{
    ViewData["Title"] = "Internal Server Error";
}

<section class="vs-error-wrapper space">
    <div class="container">
        <div class="error-content text-center">
            <h2 class="h1 text-theme mt-n3">Oops! 500! That page can't be found.</h2>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-5">
                    <p class="px-xl-2 mb-4 pb-xl-2">Unfortunately, something went wrong and this page does not exist. Try using the search or return to the previous page.</p>
                    <a href="index.html" class="vs-btn">Go Back To Home<i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="col-xl-10 mt-3 mt-lg-0"><img src="/assets/img/shape/error.png" alt="Error Image"></div>
            </div>
        </div>
    </div>
</section>